{% extends "base.html.twig" %}
{% block body %}
    
    <h2>Profile</h2>
    <div style="display: flex; padding: 2em;">
        <div style="flex: 1; padding-right: 1em;">
            {{ loadComponent('invitation-panel', [invitationConfig]) }}
        </div>
        <div style="flex: 1; padding-left: 1em;">
            {{ loadComponent('connection-panel', [connectionConfig]) }}
        </div>
    </div>
{% endblock body %}