{% extends "base.html.twig" %}
{% block body %}
    <div style="padding:2em;">
        <h2>Home Page</h2>
        {% if isLoggedin == false %}
            {{loadComponent('login-form', [isLoggedin])}}
        {% else %}
            <p>Loaded in</p>
        {% endif %}
    </div>
{% endblock body %}