{% extends "base.html.twig" %}
{% block body %}
    <div style="padding:2em;">
        <div>gift request page</div>
        {{loadComponent('gift-request-form', [])}}
        {{loadComponent('gift-request-list', [giftRequests])}}
    </div>
{% endblock body %}